################################################################################
# この .gitignore ファイルは Microsoft(R) Visual Studio によって自動的に作成されました。
################################################################################

/.vs/OIC2023-Front04
/.vs/slnx.sqlite
/.vs
